@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.formHeader {
  background-color: rgb(255, 255, 255);
}

.formHeader img {
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.formBody {
  background-color: #fcef5ce1;
  width: 100%;
  padding-bottom: 10px;
}

.formBody .footer p {
  text-align: center;
}

footer p {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input,
button {
  border-radius: 7px;
  border: solid gray 1px;
  padding: 5px;
  margin: 4px 3px;
}

button {
  background-color: #008f50;
  width: 82%;
  height: 3em;
  color: white;
}

.formInputClass {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  /* padding: 2px 20px; */
}

.formInputClass .labelInput {
  width: 35%;
  text-align: right;
  line-height: 20px;
  /* height: 40px; */
}

.buttonsClass {
  width: 200px;
  text-align: right;
}

input {
  width: 80%;
  height: 2em;
}

